.title{
    margin-bottom: 3px;
    text-align:center;
    width: 352px;
    height: 30px;
    color:black;
    border: solid black 2px;
    border-radius:20px 20px 1px 1px;
    padding-bottom:5px;
    font-size:30px;
    background-color:grey;
 }

 input[type="button"]{
    background-color:grey;
    color: black;
    border: solid black 2px;
    width:80px;
    height:80px;
    font-size:25px;
 }

 input[type="text"]{
    background-color:white;
    border: solid black 2px;
    width:250px;
    height:80px;
    font-size:35px;
 }